@import 'base/variables';

@import 'vendor/bootstrap/bootstrap';

@import 'base/reset';
@import 'base/icons';
@import 'base/typography';

@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/forms';
@import 'components/navigation';

.test {
    .test2 {
        display: flex;
        background: red;
    }
}

.test .test2 {
    border: 1px solid green;
    -ms-transform: skewX(45deg);
}

$red:   rgb(254, 0, 0);
$green: rgb(0, 254, 0);
$blue:  rgb(0, 0, 254);

@mixin theme($property: 'color') {
  body.red &   { #{$property}: $red; }
  body.green & { #{$property}: $green; }
  body.blue &  { #{$property}: $blue; }
}

.test {
  @include theme(border-color);
}
